@font-face {
    font-family: Maleha;
    src: url(font/Maleha.ttf);
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #e6e0f8, #f3e6ff);
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f9f4ff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(90, 75, 120, 0.15);
  width: 320px;
  color: #4a3b63;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #6e4ca7;
  font-family: Maleha, sans-serif;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #5e4c7d;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #c8bfe7;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #f3edff;
  color: #4e3e63;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #a68cd3;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8f74bd;
}

#resultado {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  color: #6e4ca7;
}
